<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
  <body class="home-index">
    <header >
      <ul>
        <li>
          <a href="/users/signup"> Signup </a>
        </li>
        <li>
          <a href="/users/login"> Login </a>
        </li>
        <li>
          <a href="/article/new"> Add Article </a>
        </li>
        <li>
          <a href="/article"> List Of Article </a>
        </li>
      </ul>
    </header>
    <main>
      <h1>Welcome to Node.js</h1>
      <p>Express assignment</p>
    </main>
  </body>
</html>
